.itemButton{
    padding: 10px;
    margin: 10px 0 1px 0 ;
    width: 10%;
    cursor: pointer;
    font-size: 15px

}
.itemButton:hover{
    opacity: 80%;
}
.create{
    background: #19e0c6;
    width: 40vw;
    padding: 15px;
}